!!! 5
%html
  %head
    %title croner
  %body
    %h1 croner
    %dl
      %dt Current time:
      %dd #{Time.now}
      %dt
        %a(href='/resque') resque admin
    %hr
    %table#table
      %thead
        %tr
          %th App
          %th period
          %th last attempted
          %th next run
          %th total runs
          %th failed runs
      %tbody
        - @apps.each do |app|
          %tr
            %td= app.heroku_id
            %td= app.period
            %td= app.last_attempted
            %td= app.next_scheduled
            %td= app.total_runs
            %td= app.failed_runs

    %script(src='jquery.js')
    %script(src='jquery.dataTables.min.js')
    %script(src='croner.js')

